extends _layout
  
block content
  .home
    .cards
      for i in new Array(24)
        .cards-col
          .card
            img(src=static_url('images/content/1.png'))
            .card-info
              h2 Title this a large large title
              p Lorem ipsum dolor

    .btn-group

