extends _layout
  
block content
  .login
    //- .login-inner
    form.form-login
      label Email or username
      input(type="text")
      label Password
      input(type="password")
      button LOGIN

